services:
  db:
    image: postgres:16-alpine
    container_name: ufc_db
    environment:
      POSTGRES_DB: ufc_db
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 10s
      timeout: 5s
      retries: 5

  app:
    build: .
    container_name: ufc_app
    depends_on:
      db:
        condition: service_healthy
    environment:
      DB_URL: postgresql+psycopg2://postgres:postgres@db:5432/ufc_db
    working_dir: /app
    volumes:
      - .:/app
    stdin_open: true
    tty: true
    command: /bin/bash

volumes:
  pgdata: